/* ============================ *\
//
//	Breadcrumb
//
\* ============================ */



.breadcrumb {
	@extend .cf;
	border-radius: 7px;
	width: 100%;
	display: block;
	background-color: $dark-bg;
	border: 1px solid $breadcrumb;
	overflow: hidden;
	margin: 1em 0;

	a {
		float: left;
		padding: 0.5em;
		padding-right: 2em;
		border: 0;
		color: $breadcrumb;
		background: $module-bg;
		position: relative;
		@include font-size(18);
		letter-spacing: 1px;

		&:hover,
		&:focus,
		&:active {
			background: white;

			&:before {
				border-color: white;
				border-left-color: transparent;
			}
		}

		&:before, &:after {
			content: "";
			float: left;
			border: solid transparent;
			border-width: 1.1em;
			border-right-width: .1em;
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
		}

		&:before {
			border-color: $module-bg;
			border-left-color: transparent;
			right: 100%;
		}

		&:after {
			border-color: $breadcrumb;
			border-left-color: transparent;
			right: 1px;
		}

		&:first-child {
			padding-left: 1em;
		}

		&:last-child {
			background: transparent;
			color: $light-blue-bg;
			pointer-events: none;
 			cursor: default;
 			padding-right: 0;

			&:before {
				border-color: $dark-bg;
				border-left-color: transparent;
			}

			&:after {
				display: none;
			}
		}
	}
}