/* ============================ *\
//
//	Breadcrumb
//
\* ============================ */



.breadcrumb {
	@extend .cf;
	width: 100%;
	display: block;
	background-color: $dark-bg;
	border: 1px solid $breadcrumb;
	overflow: hidden;
	margin: 1em 0;

	@include mq($tablet) {
		border-radius: 7px;

		a:first-child {
			padding-left: 1em;
		}
	}

	a {
		display: block;
		padding: 0.5em;
		border: 0;
		color: $breadcrumb;
		background: $module-bg;
		position: relative;
		@include font-size(18);
		letter-spacing: 1px;

		@include mq($tablet) {
			float: left;
			padding-right: 2em;
		}

		&:hover,
		&:focus,
		&:active {
			background: white;

			&:before {
				border-color: white;
				border-left-color: transparent;
			}
		}

		&:before, &:after {
			content: "";
			float: left;
			border: solid transparent;
			border-width: 1.1em;
			border-right-width: .1em;
			position: absolute;
			display: none;
			top: 0;
			bottom: 0;

			@include mq($tablet) {
				display: block;
			}
		}

		&:before {
			border-color: $module-bg;
			border-left-color: transparent;
			right: 100%;
		}

		&:after {
			border-color: $breadcrumb;
			border-left-color: transparent;
			right: 0;

			@include mq($tablet) {
				right: 1px;
			}
		}
	}
}

.breadcrumb__product a:last-child,
.breadcrumb__sell a.selected {
	background: transparent;
	color: white;
	pointer-events: none;
		cursor: default;
		padding-right: 0;

	&:before {
		border-color: $dark-bg;
		border-left-color: transparent;
	}

	&:after {
		display: none;
	}
}

.breadcrumb__sell {
	a {
		width: 25%;

		&:last-child {
			&:after { display: none; }
		}
	}
}
