/* ============================ *\
//
//	Form Search
//
\* ============================ */



.search--top {
	background-color: $light-blue-bg;
	color: white;
}

.search-form {
	margin: 4.6875rem 0;

	input {
		background: white;
	}
}

.search-wrap {
	position: relative;
	width: 100%;
	margin: 0 auto;

	@include mq($desktop) {
		width: 60%;
	}
}

.search-button {
	position: absolute;
	top: 25%;
	right: 2%;
	background: transparent;
	border: 0;
	@include font-size(26);
	color: $light-copy;
	z-index: 1;
}

.search--top__h2 {
	width: 100%;
	margin: 2em 0;
	text-align: left;
}

.search--top__h2--index {
	margin: 4.6875rem 0;
	@include body-font(regular);
	text-align: center;
	@include font-size(32);

	@include mq($desktop) {
		@include font-size(52);
	}
}

.search--top__p {
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
}

.search--top__input {
	border: none;
	height: 3em;
	padding: 0 1em;
}

.index {
	.search--top__h2--index {
		display: block;
	}
	.search--top__h2 {
		display: none;
	}
	.search--top__p {
		max-width: 55%;
	}

	.search--top__input {
		width: 100%;
	}
}

.product {
	.search--top__h2--index, .search--top__p {
		display: none;
	}
	.search--top__h2 {
		display: block;
	}
	.search--top__input {
		width: 100%;
	}

	.index-only {
		display: none;
	}
}
