/* ============================ *\
//
//	Form Search
//
\* ============================ */




.search--top {
	background-color: $light-blue-bg;
	color: white;
	text-align: center;
}
.search--top__h1 {
	margin: 4.6875rem 0;
	@include font-size(52);
	@include body-font(regular);
}

.search--top__p {
	max-width: 55%;
	letter-spacing: 1px;
	margin: 0 auto;
}

.search--top__input {
	border: none;
	width: 60%;
	height: 3em;
	padding: 0 1em;
	margin: 4.6875rem 0;
}