/* ============================ *\
//
//	Animations
//
\* ============================ */



.list-block {

	h1 {
		margin: 2.5rem 0;
	}
}
.list-block__wrap {
	background-color: #F0F0F0;
	border: 1px solid $module-border;
	padding: 1.25em;

	&:first-child {
		float: left;
	}
	&:last-child {
		float: right;
	}
}
.list-block__title {
	letter-spacing: 5px;
	margin-bottom: .625em;
}
.list-block__list {
	list-style-position: inside;
	line-height: 1.5;

	a {
		padding-bottom: 3px;
	}

	li {
		list-style: none;

		&:before {
			content: '〉'
		}
	}
}