/* ============================ *\
//
//	Product
//
\* ============================ */




.product-meta {
	padding: 1.25em 1.25em 0 1.25em;
}

.module__product {
	background-color: $module-bg-light;
	@extend .cf;
	margin-bottom: 1.25em;
	position: relative;

	img {
		width: 100%;
		max-width: 100%;

		@include mq($tablet) {
			max-width: 14.375em;
			max-height: 14.375em;
		}
	}

	.btn {
		display: block;
		text-align: center;
		margin: 0 1.25em 1.25em 1.25em;
		right: 0;

		@include mq($tablet) {
			position: absolute;
		}
	}
}

.display--grid {
	.module__product {
		min-height: 31.25em;
	}

	.btn {
		bottom: 0;
		left: 0;
	}
}

.display--list {
	.d2-2 {
		width: 100%;
	}

	img {
		max-width: 170px;
		float: left;
	}

	.product-meta, .btn {
		float: left;
	}

	.btn {
		margin-top: 1.25em;
	}
}

.tags {
	margin: 1em 0;
}

.page-info {
	margin: 1.25em 0;
}
