/* ============================ *\
//
//	View Options
//
\* ============================ */



.page-options {
	background-color: $module-bg;
	border: 1px solid $breadcrumb;
	padding: .5em 1em;
}

.page-options__view--sort {

}

.page-options__view--grid {

}

.page-options__sidebar {

}