/* ============================ *\
 //
 // Forms
 //
\* ============================ */


::-webkit-input-placeholder {
   color: $light-copy;
   letter-spacing: 2px;
   @include body-font;
   transition: opacity .3s ease;
}

:-moz-placeholder { /* Firefox 18- */
   color: $light-copy;
   letter-spacing: 2px;
   @include body-font;
   transition: opacity .3s ease;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $light-copy;
   letter-spacing: 2px;
   @include body-font;
   transition: opacity .3s ease;
}

:-ms-input-placeholder {
   color: $light-copy;
   letter-spacing: 2px;
   @include body-font;
   transition: opacity .3s ease;
}

:focus::-webkit-input-placeholder {
   opacity: 0;
}

:focus:-moz-placeholder { /* Firefox 18- */
   opacity: 0;
}

:focus::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0;
}

:focus:-ms-input-placeholder {
   opacity: 0;
}

form {
   @extend .cf;
   margin: 2.5em 0;
}

input,
textarea {
   width: 100%;
   border: 1px solid $breadcrumb;
   background: none;
   position: relative;
   top: 0;
   left: 0;
   z-index: 1;
   padding: .5em .75em;
   outline: 0;

   &:focus,
   &:valid {
      border-color: $light-blue-bg;
   }
}

input[type="file"] {
   cursor: copy;
}

textarea {
   display: block;
   resize: vertical;
}

.submit-form {
   button {
      @extend .btn;
      background-color: $green;

      &:after {
         background-color: darken($green, 20%);
      }

      &:active {
         background-color: darken($green, 10%);
      }
   }


   button[disabled] {
      background-color: buttonface;
      transform: none;
      transform-style: none;
   }
}


.form__block {
   margin-bottom: 2.5em;
}

.select__block {
   label,
   select {
      float: left;
   }

   label {
      width: 40%;
   }

   select {
      width: 60%;
   }

}



.form--login, .form--signup {
   max-width: 37.5em;
   margin: 4em auto;
   padding: 2em 2em 0;
   border: 1px solid $module-border;
}
.form__label {
   display: block;
   margin: 1em 0;
}
.form__textbox {
   display: block;
   width: 100%;
   height: 2.2em;
   padding: 0 .6em;
   margin-bottom: 1em;
   background: $module-bg;
   border: 1px solid $module-border;
}
.form__textbox:focus {
   outline: 0;
   border: 1px solid darken($module-border, 20%);
}
.form__textbox--success {
   outline: 2px solid #70C294;
}
.form__textbox--error {
   outline: 2px solid #EB5353;
}

