/* ============================ *\
 //
 //	Settings
 //
\* ============================ */



/* ==========================================
	Colors
============================================*/


$copy: #303030;
$light-heading: #b4b7be;
$light-copy: #B1B3B6;

$link: #355899;

//$light-bg: #F0F0F0;
$light-bg: #FFFFFF;
$light-blue-bg: #60A1CC;
$dark-bg: #28333F;
$dark-button: #274566;

$module-bg: #F0F0F0;
$module-bg-light: #FCFCFC;
$module-border: #DFDFDF;

$breadcrumb: #C9C9C9;

$green: #4EB05E;
$red: #C13534;

/* ==========================================
	Variables
============================================*/

$margin: 10px;
$basefont: 16;
$baseline: 1.5;