/* ============================ *\
 //
 //	Settings
 //
\* ============================ */



/* ==========================================
	Colors
============================================*/


$copy: #303030;
$light-heading: #b4b7be;
$light-copy: #666f7c;

$link: #355899;

$light-bg: #F0F0F0;
$light-blue-bg: #66697F;
$dark-bg: #2F2F3D;
$dark-button: #51556C;

$module-bg: #F0F0F0;
$module-border: #DFDFDF;


/* ==========================================
	Variables
============================================*/

$margin: 10px;
$basefont: 16;
$baseline: 1.5;