/* ============================ *\
//
//	Footer
//
\* ============================ */



.footer__main {
	padding: 2.5em 0;
	color:  $light-copy;

	h1, p {
		margin-bottom: 20px;
		margin-bottom: 1.25rem;
	}

	h1 {
		color: $light-heading;
	}

	a {
		color: $light-copy;
		transition: color .1s linear;
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:hover {
			color: $light-heading;
			border-bottom: 1px solid;
		}
	}
}
.sub-footer {
    margin-top: 90px;
}