/* ============================ *\
//
//	Header
//
\* ============================ */




.header--main {
  padding-top: 3.5em;

  @include mq($tablet) {
    padding-top: 0;
  }
}

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 1em 0;
    z-index: 20;

    @include mq($tablet) {
      position: relative;
    }
  }

  .top-bar__a {
    color: $light-copy;
    letter-spacing: .05em;
    border: none;
    margin-right: 1em;

    &:last-child {
        margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
        color: white;
    }
  }

  .top-bar--dash {
    padding: 1em 2em;
  }

  .mobile-menu {
    cursor: pointer;
    padding: 1em;
    margin-right: -20px;
    position: relative;

    @include mq($tablet) {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 38%;
      width: 1em;
      height: 0.25em;
      background: white;
      box-shadow:
        0 0.4em 0 0 white,
        0 0.8em 0 0 white;
    }
  }

  .main-logo {
    padding: 1em 0;
    display: block;
    text-align: center;

    @include mq($desktop) {
        float: left;
    }

    a {
        border: none;
    }
  }
