/* ============================ *\
//
//	Header
//
\* ============================ */




.header--main {
}

    .top-bar {
        text-align: right;
        padding: 1em 0;
    }

    .top-bar__a {
        color: $light-copy;
        letter-spacing: .05em;
        border: none;
        margin-right: 1em;

        &:last-child {
            margin-right: 0;
        }
    }

    .main-logo {
        padding: 1em 0;
        display: block;
        text-align: center;

        @include mq($desktop) {
            float: left;
        }

        a {
            border: none;
        }
    }