/* ============================ *\
//
//	Navigation
//
\* ============================ */



.nav--main {
    margin-top: 2.5em;
    @include font-size(20);
    display: block;
    text-align: center;

    @include mq($desktop) {
        float: right;
    }
}

    .nav--main__ul {
        @extend .cf;
        display: inline-block;
        margin-bottom: 2.5em;

        @include mq($desktop) {
            margin-bottom: 0;
        }
    }

    .nav--main__li {
        @include nobullet;
        float: left;
        margin-right: 1.2em;

        &:last-child {
            margin: 0;
        }

        .index &:first-child,
        .product &:nth-child(2),
        .sell &:nth-child(3),
        .about &:last-child {
            a {
                border-bottom: 2px solid $copy;
            }
        }
    }

    .nav--main__a {
        color: $copy;
        letter-spacing: .1em;
        padding-bottom: .3125em;
        border-bottom: 2px solid transparent;

        &:hover,
        &:focus,
        &:active {
            border-bottom: 2px solid $copy;
        }
    }

.pagination {
    a {
        margin-right: .5em;
        vertical-align: middle;
        color: $dark-bg;
        @include font-size(18);

        &:last-child {
            margin-right: 0;
        }

        &.selected {
            background-color: $dark-bg;
            color: white;
            padding: 0.2em .5em;
            border-radius: 5px;
            border: none;
        }
    }

    span {
        margin-right: .5em;
    }
}