/* ============================ *\
//
//	Sidebar
//
\* ============================ */



.page-options {
	background-color: $module-bg;
	border: 1px solid $breadcrumb;
	padding: .5em 1em;
}

.view-options--sort {

}

.view-options--grid {

}