/* ============================ *\
//
//	Sidebar
//
\* ============================ */



.page-options__sidebar {
	background-color: $module-bg;
	border-left: 1px solid $breadcrumb;
	border-right: 1px solid $breadcrumb;
}

.page-options__sidebar-item {
	padding: 1em;
	border-bottom: 1px solid $breadcrumb;

	&:first-child {
		border-top: none;
	}
}

.sidebar__product {
	.module__product .btn {
		position: relative;
	}
}
.tags {
	display: block;
}
