/* ============================ *\
 //
 // Wrappers
 //
\* ============================ */



.wrapper {
	max-width: 59.375em; //950px
	margin: 0 1.25em;

	@include mq($desktop) {
		margin: 0 auto;
	}

	&.relative {
		position: relative;
	}
}